<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<title>reSWG</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="style3.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

<div id="container">
	<div id="leftblock">
		<div id="header_left">
			<div class="logo">
				<a href=".">
					<img src="images/logo.gif" />
				</a>
			</div>
		</div>
	
		<ul class="menu_left">
			<li><a href="#">Download</a></li>
			<li><a href="#">Server status</a></li>
			<li class="active">
				<span>Galaxies database</span>
				<ul class="sublevel">
					<li><a href="#">☼ NPCs</a></li>
					<li class="active"><span>☼ Planets</span></li>				
					<li><a href="#">☼ Mobs</a></li>
					<li><a href="#">☼ Items</a></li>
					<li><a href="#">☼ Macros</a></li>
				</ul>
			</li>
			<li><a href="#">Forums</a></li>
			<li><a href="#">IRC</a></li>
			<li><a href="#">Team</a></li>
			<li id="lastitem"><a href="#">History</a></li>
		</ul>
	</div>

	<div id="rightblock">
		<div id="header_right">
			<div class="calltowar"><img src="images/imperial.gif"></div>
			<div class="lang">
				<ul>
					<li><a title="Jamaica" href="#lang-jm"><img src="images/lang/jm.gif"/></a></li>
					<li><a title="Great Britain" href="#lang-gb"><img src="images/lang/gb.gif"/></a></li>
					<li><a title="United States" href="#lang-us"><img src="images/lang/us.gif"/></a></li>	
					<li><a title="Germany" href="#lang-de"><img src="images/lang/de.gif"/></a></li>
					<li><a title="France" href="#lang-fr"><img src="images/lang/fr.gif"/></a></li>
					<li><a title="Россия" href="#lang-ru"><img src="images/lang/ru.gif"/></a></li>
				</ul>
				<div class="chooser">
					<a href="#lang-chooser"><img src="images/chooser-on.gif"/></a>
					<!--<a href="#lang-chooser"><img src="images/chooser-off.gif"></a>-->
				</div>
			</div>
		</div>
	
		<div id="content">
			<div class="global_error" style="color: #9a0000; background-color: #eee3f3; border: 0.1em dashed #9a0000; margin: 0em 2em 2em 2em; padding: 0.5em 1em;">
				<div class="message" style="float: left;">
				THIS IS GLOBAL ERROR!<br />
				KILLING STUFF!
				</div>
				<div class="close" style="float: right;"><a href="#close" style="color: #9a0000; border-color: #9a0000;">CLOSE ERROR</a></div>
				<br class="clear" />
			</div>
		
			<div class="navigation" style="margin-left: 20px; margin-bottom: 20px; font-size: 16px;">
				<a href="#">Galaxies database</a> &rarr; <a href="#">Planets</a> &rarr <span style="font-size: 15px; border-bottom: 1px solid #303030;">Planet list</span>
			</div>
		
			<h3>There is not much left...</h3>
			<p>The purpose of this document is to examine the major filmed celestial bodies of the STAR WARS universe. In real life, astronomical objects are investigated by measurement of their motions and features as shown in photographs, spectrographs and other exotic instruments. Consideration of the geometry and physics underlying and giving rise to the photographic image allows the properties of the objects to be measured or constrained indirectly.</p>
			
			<h4>Corellia</h4>
			<p>
				Terrain: <a href="#">Fields</a>, <a href="#">forest</a>, <a href="#">seas</a>, <a href="#">cities</a>
				Key Locations: <a href="#">Coronet</a>, <a href="#">Agrilat swamps</a>, <a href="#">Gold beaches</a>
				Although Corellia has never appeared in any of the Star Wars films, it's
				a key location in the greater Star Wars saga. Most notably, Corellia is
				Han Solo's homeworld. Other Corellian native sons include Rebel general
				Crix Madine, outspoken senator Garm Bel Iblis, and Rogue Squadron's
				Corran Horn. Corellia also witnessed the birth of the Rebel Alliance
				when senators Mon Mothma, Garm Bel Iblis, and Bail Organa vowed to
				overthrow senator Palpatine and signed the so-called Corellian Treaty, which officially founded the Rebel Alliance.
				Corellia's terrain includes fields, forests and seas, as well as bustling cities glistening with skyscrapers. Correllia has become a center for interplanetary commerce, offering both merchants and buyers a healthy and stable environment for trade.
				Rumors have emerged that Princess Leia Organa has established a hidden "command and control" center for Rebel operations on Corellia and seeks the services of sympathizers to aid the Rebellion.
			</p>
			
			<h4>Dathomir</h4>
			<p>
				Terrain: <a href="#">Canyons</a>, <a href="#">forests</a>, <a href="#">jagged mountain peaks</a>
				Key Locations: <a href="#">Imperial prison</a>, <a href="#">Witch villages</a>, <a href="#">Rancor habitats</a>, <a href="#">Mountain passes</a>
				Dathomir is a low-gravity world located in the Quelii sector. The planet
				is inhabited by the Witches of Dathomir, a group of Force-sensitive
				women who ride fearsome rancors. These "witches" live in different
				clans that include a group of darksiders calling itself the Nightsisters.
				The 'Singing Mountain Clan' and the 'Nightsisters' are at odds with one
				another - and with visitors who fail to show the proper respect. Visitors can align themselves with either side and benefit from trade with these powerful indigenous creatures.
				Dathomir can only be accessed by special charter transports operated by skilled pilots. Its terrain is highly dangerous. Besides rancors, the witches are a constant threat on Dathomir.
				Dathomir has not appeared in any of the films, but is an important part of the Star Wars Expanded Universe. It appears in such books as The Courtship of Princess Leia, Darksaber, Star by Star, and Children of the Jedi. Additional information on the planet can be found in reference sources including The Star Wars Encyclopedia. The Essential Guide to Planets and Moons, and LucasArts Entertainment's Behind the Magic. Infinity's End, a story-arc within Dark Horse's ongoing Star Wars comic book series also takes place on Dathomir.
			</p>

			<h4>Corellia</h4>
			<p>
				Terrain: <a href="#">Fields</a>, <a href="#">forest</a>, <a href="#">seas</a>, <a href="#">cities</a>
				Key Locations: <a href="#">Coronet</a>, <a href="#">Agrilat swamps</a>, <a href="#">Gold beaches</a>
				Although Corellia has never appeared in any of the Star Wars films, it's
				a key location in the greater Star Wars saga. Most notably, Corellia is
				Han Solo's homeworld. Other Corellian native sons include Rebel general
				Crix Madine, outspoken senator Garm Bel Iblis, and Rogue Squadron's
				Corran Horn. Corellia also witnessed the birth of the Rebel Alliance
				when senators Mon Mothma, Garm Bel Iblis, and Bail Organa vowed to
				overthrow senator Palpatine and signed the so-called Corellian Treaty, which officially founded the Rebel Alliance.
				Corellia's terrain includes fields, forests and seas, as well as bustling cities glistening with skyscrapers. Correllia has become a center for interplanetary commerce, offering both merchants and buyers a healthy and stable environment for trade.
				Rumors have emerged that Princess Leia Organa has established a hidden "command and control" center for Rebel operations on Corellia and seeks the services of sympathizers to aid the Rebellion.
			</p>
			
			<h4>Dathomir</h4>
			<p>
				Terrain: <a href="#">Canyons</a>, <a href="#">forests</a>, <a href="#">jagged mountain peaks</a>
				Key Locations: <a href="#">Imperial prison</a>, <a href="#">Witch villages</a>, <a href="#">Rancor habitats</a>, <a href="#">Mountain passes</a>
				Dathomir is a low-gravity world located in the Quelii sector. The planet
				is inhabited by the Witches of Dathomir, a group of Force-sensitive
				women who ride fearsome rancors. These "witches" live in different
				clans that include a group of darksiders calling itself the Nightsisters.
				The 'Singing Mountain Clan' and the 'Nightsisters' are at odds with one
				another - and with visitors who fail to show the proper respect. Visitors can align themselves with either side and benefit from trade with these powerful indigenous creatures.
				Dathomir can only be accessed by special charter transports operated by skilled pilots. Its terrain is highly dangerous. Besides rancors, the witches are a constant threat on Dathomir.
				Dathomir has not appeared in any of the films, but is an important part of the Star Wars Expanded Universe. It appears in such books as The Courtship of Princess Leia, Darksaber, Star by Star, and Children of the Jedi. Additional information on the planet can be found in reference sources including The Star Wars Encyclopedia. The Essential Guide to Planets and Moons, and LucasArts Entertainment's Behind the Magic. Infinity's End, a story-arc within Dark Horse's ongoing Star Wars comic book series also takes place on Dathomir.
			</p>
			
			<div class="navigation" style="margin-left: 20px; margin-bottom: 20px; font-size: 16px;">
				<a href="#">Galaxies database</a> &rarr; <a href="#">Planets</a> &rarr <span style="font-size: 15px; border-bottom: 1px solid #303030;">Planet list</span>
			</div>
		</div>
	</div>	
	<br class="clear" />
</div>

<div id="footer">
	<div class="outline">
		<div class="timegen">[lang.main.timegen]</div>
		<div class="copyright"><a href="[cog.default.hostname]">[cog.default.copyright]</a> &rarr [cog.current.year]</div>
	</div>
</div>

</body>
</html>