<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<title>SWGEmu.com &raquo; Account</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

<div id="container">
	<div id="leftblock">
		<div id="header_left">
			<div class="logo">
				<a href=".">
					<img src="images/logo_last.gif" />
				</a>
			</div>
		</div>
		
		<h3><img src="images/menu_navigation.gif" alt="NAVIGATION" /></h3>
		<ul class="menu_left">
			<li><a href="index.html">Front Page</a></li>
			<li><a href="planets.html">Galaxies database <!-- GAME GUIDES, GLOSSARY, FAQ --></a></li>
			<li class="active">
				<h4>Account</h4>
				<ul class="sublevel">
					<li><img src="images/tree_vertical.gif"/><a href="#account-details.html">Account details</a></li>
					<li><img src="images/tree_vertical.gif"/><a href="#services.html">Account services</a></li>
					<li><img src="images/tree_vertical.gif" /><a href="#">Regisration</a></li>
					<li><img src="images/tree_vertical-last.gif" /><a href="#">Account retrieve</a></li>
				</ul>				
			</li>
			<li><a href="#downloads.html">Downloads</a></li>
			<li><a href="#media.html">Media databank <!-- SCREENSHOTS, MOVIES, WALLPAPERS, FAN ART --></a></li>		
			<li><a href="#community.html">Community <!-- FORUMS, IRC --></a></li>
			<li><a href="#support.html">Support</a></li>
			<li><a href="team.html">Staff <!-- TEAM LIST, DEVELOPERS BLOG --></a></li>
		</ul>
		
		<h3><img src="images/menu_galaxies.gif" alt="GALAXIES LIST" /></h3>
		<ul class="galaxy_list">
			<li>
				<a href="#chimaera">
					<h4><img src="images/galaxies/chimaera.gif" alt="Euro Chimaera" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#sun_crusher">
					<h4><img src="images/galaxies/sun_crusher.gif" alt="Sun Crusher" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#darjani">
					<h4><img src="images/galaxies/darjani.gif" alt="Darjani" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#true_galaxies">
					<h4><img src="images/galaxies/true_galaxies.gif" alt="True Galaxies" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#warstar">
					<h4><img src="images/galaxies/warstar.gif" alt="WarStar" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#budakesh">
					<h4><img src="images/galaxies/budakesh.gif" alt="Budakesh" /></h4>
					<div><img src="images/galaxies/status_offline.gif" alt="Offline" /></div>
				</a>
			</li>
		</ul>
		<div class="galaxy_more"><a href="#more"><img src="images/more_info.gif" alt="More info &raquo;" /></a></div>
	</div>
	
	<div id="rightblock">
		<div class="corner_left">
		<div id="header_right">
			<div class="outline">
				<div class="calltoarms"><div class="right_overflow"><img src="content/empire.jpg" /></div></div>
				<div class="lang">
					<ul>
						<li><a title="Jamaica" href="#lang-jm"><img src="images/lang/jm.gif" alt="JM" /></a></li>
						<li><a title="Great Britain" href="#lang-gb"><img src="images/lang/gb.gif" alt="GB" /></a></li>
						<li><a title="Germany" href="#lang-de"><img src="images/lang/de.gif" alt="DE" /></a></li>
						<li><a title="France" href="#lang-fr"><img src="images/lang/fr.gif" alt="FR" /></a></li>
						<li><a title="Россия" href="#lang-ru"><img src="images/lang/ru.gif" alt="RU" /></a></li>
						<li><a title="United States" href="#lang-us"><img src="images/lang/us.gif" alt="US" /></a></li>						
					</ul>
					<div class="chooser">
						<a href="#lang-chooser"><img src="images/chooser-on.gif"/></a>
						<!--<a href="#lang-chooser"><img src="images/chooser-off.gif"></a>-->
					</div>
				</div>
			</div>
		</div>
		</div>
		
		<div id="quickpanel">
			<div class="auth">
				<form action="authorized.html">
					<input type="text" value="Login" />
					<input type="password" />
					<input type="image" class="submit" src="images/login.gif" value="Log me in!" />
				</form>
			</div>
			
			<div class="search">
				<input type="text" value="Looking for something?" />
				<input type="image" class="submit" src="images/quick_search.gif" value="Search it!" />
			</div>
			
			<br class="clear" />
		</div>		
	
		<div id="content">
			<div class="global_error">
				<div class="message">
				THIS IS GLOBAL ERROR!<br />
				KILLING STUFF!
				</div>
				<div class="close"><a href="#close">close</a></div>
			</div>
		
			<div class="route">
				<span class="active">Account</span>
			</div>
		
			<div class="column_left">
			<div class="fixer_wrap"><div class="fixer_white"><div class="fixer_dark"><!-- Fake table -->
			<h3>Create a New Account <span>(step 2 of 2)</span></h3>
				<div class="registration">
					<p>To create a new account you should fill in all these fields correctly.</p>
					<form action="account_finish.html">
						<h4>Account information (required):</h4>
						<ul>
							<li><label for="login">Login:</label><input type="text" id="login" /></li>
							<li><label for="nickname">Nickname:</label><input type="text" id="nickname" /></li>
							<li><label for="password">Password:</label><input type="password" id="password" /></li>
							<li><label for="repassword">Confirm password:</label><input type="password" id="repassword" /></li>
						</ul>
						
						<h4>Additional information (optional)</h4>
						<ul>
							<li>
								<fieldset>
									<legend>Time difference</legend>
									<label for="timezone">Time Zone:</label>
									<select id="timezone">
										<option class="" value="-12">(GMT -12:00) Eniwetok, Kwajalein</option>
										<option class="" value="-11">(GMT -11:00) Midway Island, Samoa</option>
										<option class="" value="-10">(GMT -10:00) Hawaii</option>
										<option class="" value="-9">(GMT -9:00) Alaska</option>
										<option class="" value="-8">(GMT -8:00) Pacific Time (US & Canada)</option>
										<option class="" value="-7">(GMT -7:00) Mountain Time (US & Canada)</option>
										<option class="" value="-6">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
										<option class="" value="-5">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
										<option class="" value="-4.5">(GMT -4:30) Caracas</option>
										<option class="" value="-4">(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
										<option class="" value="-3.5">(GMT -3:30) Newfoundland</option>
										<option class="" value="-3">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
										<option class="" value="-2">(GMT -2:00) Mid-Atlantic</option>
										<option class="" value="-1">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
										<option class="" selected="selected" value="0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
										<option class="" value="1">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
										<option class="" value="2">(GMT +2:00) Kaliningrad, South Africa</option>
										<option class="" value="3">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
										<option class="" value="3.5">(GMT +3:30) Tehran</option>
										<option class="" value="4">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
										<option class="" value="4.5">(GMT +4:30) Kabul</option>
										<option class="" value="5">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
										<option class="" value="5.5">(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
										<option class="" value="5.75">(GMT +5:45) Kathmandu</option>
										<option class="" value="6">(GMT +6:00) Almaty, Dhaka, Colombo</option>
										<option class="" value="6.5">(GMT +6:30) Yangon, Cocos Islands</option>
										<option class="" value="7">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
										<option class="" value="8">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
										<option class="" value="9">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
										<option class="" value="9.5">(GMT +9:30) Adelaide, Darwin</option>
										<option class="" value="10">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
										<option class="" value="11">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
										<option class="" value="12">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
									</select>
									
									<label for="dst">DST Correction Option:</label>
									<select id="dst">
										<option value="2">Automatically detect DST settings</option>
										<option value="1">DST corrections always on</option>
										<option value="0">DST corrections always off</option>
									</select>
								</fieldset>
							</li>
							<li>
								<fieldset class="mailignore">
									<legend>Receiving E-mail</legend>
									<div><input type="checkbox" id="adminmail" CHECKED /><label for="adminmail">Receive email from administrators</label></div>
									<div><input type="checkbox" id="usermail" /><label for="usermail">Receive email from other members</label></div>
								</fieldset>
							</li>	
						</ul>
											
						<ul>
							<li>
								<div class="security"><label for="security">Security code:</label><input type="text" id="security" /></div>
								<div><img src="images/security_code.gif" /></div>
							</li>
							<li class="rules"><input type="checkbox" id="rules" /><label for="rules">I have read, and agree to abide by the SWGEmu rules.</label></li>						
						</ul>
						<div class="buttons"><input type="submit" value="Complete registration!" class="submit" /><input type="reset" value="Reset fields" class="reset" /></div>
					</form>					
				</div>
			</div></div></div>
			</div>
		
			<div class="column_right">
			<div class="fixer_white">
			
				<h3>Authorization</h3>			
				<div class="authorization">
					<form>
						<div class="c3po">&nbsp;</div>
						<div class="entry">
							<span><input type="text" value="Login" class="field" /></span>
							<span><input type="password" class="field" /></span>
							<span><input type="checkbox" id="remember"><label for="remember">Remember me</label></span>
						</div>
						<div><input type="image" src="images/auth_login.gif" class="submit" value="Login" /></div>
					</form>
					
					<div class="pass_forgot"><a href="#">I've forgot password</a></div>		
				</div>
				
				<!--
				<h3>Forgot password?</h3>
				<div>
					<form>
						<label for="loginrecovery">E-mail:</label><input type="text" id="loginrecovery" />
						<input type="submit" value="Send my login &raquo;" />
					</form>
				</div>
				-->
			</div>
			</div>
			
			<div class="route">
				<span class="active">Account</span>
			</div>
		</div>
	</div>	
	<br class="clear" />
</div>

<div id="footer">
	<div class="outline">
		<div class="left">
			Powered by <a href="http://wmcc.su/">WiseMon’s «CyberCog»</a>
			<br />
			Designed by <a href="http://www.swgemu.com/forums/member.php?u=2976" title="_DM_">Pe Ell</a>
		</div>
		<div class="right">
			All contents copyright © 2005-2008, <a href="http://swgemu.com">SWGEmu</a>.
			<br />
			All rights reserved.
		</div>
	</div>
</div>
<div style="background: url('images/bg_bottom_.gif'); height: 458px; margin-top: -458px; position: relative; z-index: 1;">
<div style="position: absolute; bottom: 0; left: 0; background: transparent url('images/bg_bottom_planet.gif') no-repeat; height: 261px; width: 228px;">&nbsp;</div>
</div>

</body>
</html>