<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<title>SWGEmu.com &raquo; Front page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

<div id="container">
	<div id="leftblock">
		<div id="header_left">
			<div class="logo">
				<a href=".">
					<img src="images/logo_last.gif" />
				</a>
			</div>
		</div>
		
		<h3><img src="images/menu_navigation.gif" alt="NAVIGATION" /></h3>
		<ul class="menu_left">
			<li class="active">
				<h4>Front Page</h4>
				<ul class="sublevel">
					<li><img src="images/tree_vertical.gif"/><a href="#news.html">News & Updates</a></li>
					<li><img src="images/tree_vertical.gif"/><a href="#events.html">Event calendar</a></li>
					<li><img src="images/tree_vertical.gif" /><a href="#">Patch notes</a></li>
					<li><img src="images/tree_vertical-last.gif" /><a href="#">Press releases</a></li>
				</ul>
			</li>
			<li><a href="planets.html">Galaxies database <!-- GAME GUIDES, GLOSSARY, FAQ --></a></li>
			<li><a href="account.html">Account <!-- HOW TO START, «CRUD» ACCOUNT, SERVER STATUS --></a></li>
			<li><a href="#downloads.html">Downloads</a></li>
			<li><a href="#media.html">Media databank <!-- SCREENSHOTS, MOVIES, WALLPAPERS, FAN ART --></a></li>		
			<li><a href="#community.html">Community <!-- FORUMS, IRC --></a></li>
			<li><a href="#support.html">Support</a></li>
			<li><a href="team.html">Staff <!-- TEAM LIST, DEVELOPERS BLOG --></a></li>
		</ul>
		
		<h3><img src="images/menu_galaxies.gif" alt="GALAXIES LIST" /></h3>
		<ul class="galaxy_list">
			<li>
				<a href="#chimaera">
					<h4><img src="images/galaxies/chimaera.gif" alt="Euro Chimaera" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#sun_crusher">
					<h4><img src="images/galaxies/sun_crusher.gif" alt="Sun Crusher" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#darjani">
					<h4><img src="images/galaxies/darjani.gif" alt="Darjani" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#true_galaxies">
					<h4><img src="images/galaxies/true_galaxies.gif" alt="True Galaxies" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#warstar">
					<h4><img src="images/galaxies/warstar.gif" alt="WarStar" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#budakesh">
					<h4><img src="images/galaxies/budakesh.gif" alt="Budakesh" /></h4>
					<div><img src="images/galaxies/status_offline.gif" alt="Offline" /></div>
				</a>
			</li>
		</ul>
		<div class="galaxy_more"><a href="#more"><img src="images/more_info.gif" alt="More info &raquo;" /></a></div>
	</div>

	<div id="rightblock">
		<div class="corner_left">
		<div id="header_right">
			<div class="outline">
				<div class="calltoarms"><div class="right_overflow"><img src="content/empire.jpg" /></div></div>
				<div class="lang">
					<ul>
						<li><a title="Jamaica" href="#lang-jm"><img src="images/lang/jm.gif" alt="JM" /></a></li>
						<li><a title="Great Britain" href="#lang-gb"><img src="images/lang/gb.gif" alt="GB" /></a></li>
						<li><a title="Germany" href="#lang-de"><img src="images/lang/de.gif" alt="DE" /></a></li>
						<li><a title="France" href="#lang-fr"><img src="images/lang/fr.gif" alt="FR" /></a></li>
						<li><a title="Россия" href="#lang-ru"><img src="images/lang/ru.gif" alt="RU" /></a></li>
						<li><a title="United States" href="#lang-us"><img src="images/lang/us.gif" alt="US" /></a></li>						
					</ul>
					<div class="chooser">
						<a href="#lang-chooser"><img src="images/chooser-on.gif"/></a>
						<!--<a href="#lang-chooser"><img src="images/chooser-off.gif"></a>-->
					</div>
				</div>
			</div>
		</div>
		</div>
	
		<div id="quickpanel">
			<div class="userpanel">
				<div class="welcome">
					Welcome, <a href="#DM-43568"><span>DM-43568</span></a>! ( <a href="index.html"><span>Logout</span></a> )
				</div>
				<div class="pm">
					<div>
						<a href="#pm"><img src="images/pm_new.gif" /><span class="total">20</span></a> &rarr; <a href="#new-only"><span class="unread">5 unread</span></a>
					</div>
				</div>
			</div>
			
			<div class="search">
				<input type="text" value="Looking for something?" />
				<input type="image" class="submit" src="images/quick_search.gif" value="Search it!" />
			</div>
			
			<br class="clear" />
		</div>	
	
		<div id="content">		
			<div class="global_error">
				<div class="message">
				THIS IS GLOBAL ERROR!<br />
				KILLING STUFF!
				</div>
				<div class="close"><a href="#close">close</a></div>
			</div>
		
			<div class="route">
				<span class="active">Front page</span>
			</div>
		
			<h3>Welcome to the Starwars Galaxies PreCU Emulation Project!</h3>
			<div class="text">
				<p>
					SWGEmu is a project aimed at emulating the official Star Wars Galaxies Pre-Combat Upgrade servers. Over the last 2.5 years we have researched and documented the protocol used between the SWG client and the Live Server. By doing this we were able to build our own server daemon from the ground up, which allows those that miss the old SWG the most, to enjoy the experience with other veterans once again. Every single line of code in our software has been written by the development team, on their own free time, with absolutely no corporate funding.	
				</p>
			</div>

			<div class="column_left">
			<div class="fixer_wrap"><div class="fixer_white"><div class="fixer_dark"><!-- Fake table -->
				<h3>News transmissions</h3>
				<div class="front_news">
					<div>
						<h4><img src="content/news_icon_03.gif" /><a href="#details-01">Rebels, Run Away! Emperor warriors are coming!</a></h4>
						<p>
							That’s alert for all rebels! That’s not learning emergency. RUN AWAY! WE ALL GONNA DIE!!1
							Yesterday morning we’ve lost our 2 elite infilitrators Kardachim &amp; Gobblenoise near the Anchorhead. Plz anybody, halp as to save our asses!
							I’m repeating!
							HALP U... *interference*
						</p>
						<div class="postinfo">recieved from <a href="#">Drunken Monkey</a> 13 October 2008</div>
						<div class="buttonrow">
							<div class="details">
								<a href="#details-04"><span>Read more</span></a>
							</div>						
							<div class="comments"><span class="closed"><strong>closed transmittion</strong></span></div>
						</div>
					</div>

					<div>
						<h4><img src="content/news_icon_02.gif" /><a href="#details-02">Bi-Weekly Update 10/13/08</a></h4>
						<p>
							The BiWeekly for 10/13/08 has been released! We have details on Missions, Crafting progress, travel &amp; general game updates, and much more!
						</p>
						<div class="postinfo">recieved from <a href="#">Ramsey</a> 13 October 2008</div>
						<div class="buttonrow">
							<div class="details">
								<a href="#details-04"><span>Read more</span></a>
							</div>						
							<div class="comments">
								<a href="#comment" title="4 replies for this transmittion"><span><strong>4 comments</strong></span></a>
								<img src="images/comment_tail.gif" class="tail" />
							</div>
						</div>
					</div>

					<div>
						<h4><img src="content/news_icon_01.gif" /><a href="#details-03">Bi-Weekly Update 9/28/08</a></h4>
						<p>
							Included in the BiWeekly Update for 9/28/08; new Quality Assurance team, Guild Updates, Forum theme changes, NPC AI, and many more fixes!
						</p>
						<div class="postinfo">recieved from <a href="#">Ramsey</a> 28 September 2008</div>
						<div class="buttonrow">
							<div class="details">
								<a href="#details-04"><span>Read more</span></a>
							</div>						
							<div class="comments">
								<a href="#comment" title="29 replies for this transmittion"><span><strong>29 comments</strong></span></a><div class="tail">&nbsp;</div>
								<img src="images/comment_tail.gif" class="tail" />
							</div>
						</div>
					</div>

					<div>
						<h4><img src="content/news_icon_02.gif" /><a href="#details-04">Bi-Weekly Update 8/11/08</a></h4>
						<p>
							On-time as usual. The latest biweekly for 8/11 contains updates for medical progress, new loot tables, and blue frog changes along with our informational Developer Round Table. Enjoy!
						</p>
						<div class="postinfo">recieved from <a href="#">Saromus</a> 11 August 2008</div>
						<div class="buttonrow">
							<div class="details">
								<a href="#details-04"><span>Read more</span></a>
							</div>
							<div class="comments">
								<a href="#comment" title="5828 replies for this transmittion"><span><strong>5828 comments</strong></span></a><div class="tail">&nbsp;</div>
								<img src="images/comment_tail.gif" class="tail" />
							</div>
						</div>
					</div>					
					
					<div class="more"><a href="#news.html"><span><strong>news archieve</strong></span></a></div>
				</div>
			</div></div></div>
			</div>
			
			<div class="column_right">
			<div class="fixer_white">
				<h3>Event calendar</h3>
				<div class="front_events">
					<h4 class="months"><a href="#prev-month">&larr;</a> November 2008 <a href="#next-month">&rarr;</a></h4>
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
							<th>Sun</th>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><span>1</span></td>
							<td><span>2</span></td>
						</tr>
						<tr>
							<td><span>3</span></td>
							<td><span>4</span></td>
							<td><a href="event-05.html">5</a></td>
							<td><span>6</span></td>
							<td><span>7</span></td>
							<td><span>8</span></td>
							<td><span>9</span></td>
						</tr>
						<tr>
							<td><span>10</span></td>
							<td><span>11</span></td>
							<td><span>12</span></td>
							<td><span>13</span></td>
							<td><span>14</span></td>
							<td><span>15</span></td>
							<td><span>16</span></td>
						</tr>
						<tr>
							<td><span>17</span></td>
							<td><span class="current">18</span></td>
							<td><span>19</span></td>
							<td><span>20</span></td>
							<td><span>21</span></td>
							<td><span>22</span></td>
							<td><span>23</span></td>
						</tr>
						<tr>
							<td><span>24</span></td>
							<td><span>25</span></td>
							<td><span>26</span></td>
							<td><span>27</span></td>
							<td><span>28</span></td>
							<td><span>29</span></td>
							<td><span>30</span></td>
						</tr>
					</table>
					<div class="buttonrow">
						<a href="#submit-event">Submit event</a>
						<a href="#all-events">All events</a>
					</div>					
				</div>
				
				<div class="front_spotlight">
					<h3><img src="images/heading_spotlight.gif" alt="Spotlight" /></h3>
					<a href="#spotlight-01"><img src="content/spotlight_01.gif" /></a>
					<div class="selector">
						<span class="active"><span>&nbsp;</span></span>
						<a href="spotlight-02.html"><span>&nbsp;</span></a>
						<a href="#spotlight-03"><span>&nbsp;</span></a>
						<a href="#spotlight-04"><span>&nbsp;</span></a>
						<a href="#spotlight-05"><span>&nbsp;</span></a>
					</div>
				</div>
				
				<h3>Media databank</h3>		
				<div class="front_media">				
					<div class="preview"><a href=""><img src="content/media_screenshot.gif" /></a></div>
					<div class="buttonrow">
						<div class="random"><a href="#random"><img src="images/media_random.gif" alt="random media" /></a></div>
						<div class="more"><a href="#"><span>more media data</span> &raquo;</a></div>
					</div>
				</div>

				<h3>Galaxies database updates</h3>
				<div class="front_database">
					<ul>
						<li><a href="planets.html" class="tag"><span><strong>Planets</strong></span></a> &raquo; <a href="#">Kashyyk iz WOOKIEZ, Ewoks, GO AWAY!</a></li>
						<li><a href="planets.html" class="tag"><span><strong>Planets</strong></span></a> &raquo; <a href="#">Mustafaar</a></li>
						<li><a href="#npcs.html" class="tag"><span><strong>NPCs</strong></span></a> &raquo; <a href="#">C3PO == Google</a></li>
						<li><a href="#npcs.html" class="tag"><span><strong>NPCs</strong></span></a> &raquo; <a href="#">R2D2 is a noob</a></li>
						<li><a href="#other.html" class="tag"><span><strong>Other</strong></span></a> &raquo; <a href="#">Hey! I’m here</a></li>				
					</ul>
					<div><a href="#">full updates list &raquo;</a></div>
				</div>
			</div>
			</div>
			
			<div class="route">
				<span class="active">Front page</span>
			</div>
		</div>
	</div>	
	<br class="clear" />
</div>

<div id="footer">
	<div class="outline">
		<div class="left">
			Powered by <a href="http://wmcc.su/">WiseMon’s «CyberCog»</a>
			<br />
			Designed by <a href="http://www.swgemu.com/forums/member.php?u=2976" title="_DM_">Pe Ell</a>
		</div>
		<div class="right">
			All contents copyright © 2005-2008, <a href="http://swgemu.com">SWGEmu</a>.
			<br />
			All rights reserved.
		</div>
	</div>
</div>
<div style="background: url('images/bg_bottom_.gif'); height: 458px; margin-top: -458px; position: relative; z-index: 1;">
<div style="position: absolute; bottom: 0; left: 0; background: transparent url('images/bg_bottom_planet.gif') no-repeat; height: 261px; width: 228px;">&nbsp;</div>
</div>

</body>
</html>