<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<title>SWGEmu.com &raquo; Staff &raquo; Team list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

<div id="container">
	<div id="leftblock">
		<div id="header_left">
			<div class="logo">
				<a href=".">
					<img src="images/logo_last.gif" />
				</a>
			</div>
		</div>
		
		<h3><img src="images/menu_navigation.gif" alt="NAVIGATION" /></h3>
		<ul class="menu_left">
			<li><a href="index.html">Front Page</a></li>
			<li><a href="planets.html">Galaxies database <!-- GAME GUIDES, GLOSSARY, FAQ --></a></li>
			<li><a href="account.html">Account</a></li>
			<li><a href="#downloads.html">Downloads</a></li>
			<li><a href="#media.html">Media databank <!-- SCREENSHOTS, MOVIES, WALLPAPERS, FAN ART --></a></li>		
			<li><a href="#community.html">Community <!-- FORUMS, IRC --></a></li>
			<li><a href="#support.html">Support</a></li>
			<li class="active">
				<h4>Staff</h4>
				<ul class="sublevel">
					<li class="active"><img src="images/tree_vertical.gif"/><span>Team list</span></li>
					<li><img src="images/tree_vertical-last.gif"/><a href="#services.html">Developers blog</a></li>
				</ul>				
			</li>
		</ul>
		
		<h3><img src="images/menu_galaxies.gif" alt="GALAXIES LIST" /></h3>
		<ul class="galaxy_list">
			<li>
				<a href="#chimaera">
					<h4><img src="images/galaxies/chimaera.gif" alt="Euro Chimaera" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#sun_crusher">
					<h4><img src="images/galaxies/sun_crusher.gif" alt="Sun Crusher" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#darjani">
					<h4><img src="images/galaxies/darjani.gif" alt="Darjani" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#true_galaxies">
					<h4><img src="images/galaxies/true_galaxies.gif" alt="True Galaxies" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#warstar">
					<h4><img src="images/galaxies/warstar.gif" alt="WarStar" /></h4>
					<div><img src="images/galaxies/status_online.gif" alt="Online" /></div>
				</a>
			</li>
			<li>
				<a href="#budakesh">
					<h4><img src="images/galaxies/budakesh.gif" alt="Budakesh" /></h4>
					<div><img src="images/galaxies/status_offline.gif" alt="Offline" /></div>
				</a>
			</li>
		</ul>
		<div class="galaxy_more"><a href="#more"><img src="images/more_info.gif" alt="More info &raquo;" /></a></div>
	</div>
	
	<div id="rightblock">
		<div class="corner_left">
		<div id="header_right">
			<div class="outline">
				<div class="calltoarms"><div class="right_overflow"><img src="content/empire.jpg" /></div></div>
				<div class="lang">
					<ul>
						<li><a title="Jamaica" href="#lang-jm"><img src="images/lang/jm.gif" alt="JM" /></a></li>
						<li><a title="Great Britain" href="#lang-gb"><img src="images/lang/gb.gif" alt="GB" /></a></li>
						<li><a title="Germany" href="#lang-de"><img src="images/lang/de.gif" alt="DE" /></a></li>
						<li><a title="France" href="#lang-fr"><img src="images/lang/fr.gif" alt="FR" /></a></li>
						<li><a title="Россия" href="#lang-ru"><img src="images/lang/ru.gif" alt="RU" /></a></li>
						<li><a title="United States" href="#lang-us"><img src="images/lang/us.gif" alt="US" /></a></li>						
					</ul>
					<div class="chooser">
						<a href="#lang-chooser"><img src="images/chooser-on.gif"/></a>
						<!--<a href="#lang-chooser"><img src="images/chooser-off.gif"></a>-->
					</div>
				</div>
			</div>
		</div>
		</div>
		
		<div id="quickpanel">
			<div class="auth">
				<form action="authorized.html">
					<input type="text" value="Login" />
					<input type="password" />
					<input type="image" class="submit" src="images/login.gif" value="Log me in!" />
				</form>
			</div>
			
			<div class="search">
				<input type="text" value="Looking for something?" />
				<input type="image" class="submit" src="images/quick_search.gif" value="Search it!" />
			</div>
			
			<br class="clear" />
		</div>		
	
		<div id="content">
			<div class="global_error">
				<div class="message">
				THIS IS GLOBAL ERROR!<br />
				KILLING STUFF!
				</div>
				<div class="close"><a href="#close">close</a></div>
			</div>
		
			<div class="route">
				<a href="#">Staff</a> &rarr; <span class="active">Team list</span>
			</div>
		
			<div class="team_list">
				<h3>SWGemu Administrators</h3>
				<ul>
					<li>
						<div class="vertical_fix">
							<h4>Kyle</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator and Developer</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>Oru</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator and Developer</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>PhantomLeader</h4>
							<div class="avatar"><img src="content/ava_01.gif" /></div>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">					
							<h4>Ramsey</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator and Developer</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">					
							<h4>Seaseme</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">				   
							<h4>TheAnswer</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator and Developer</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>Ultyma</h4>
							<div class="avatar"><img src="content/ava_02.gif" /></div>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>SWGemu Administrator and Developer</div>
						</div>
					</li>
				</ul>

				<h3>Team Leaders</h3>
				<ul>
					<li>
						<div class="vertical_fix">
							<h4>DavinFelth</h4>
							<div class="avatar"><img src="content/ava_03.gif" /></div>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>Head of Client Development and Global Moderator</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>Kellina</h4>
							<div class="avatar"><img src="content/ava_04.gif" /></div>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>Head of Community Service and Global Moderator</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>TAFirehawk</h4>
							<div class="avatar"><img src="content/ava_05.gif" /></div>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>Rep Team Leader and Global Moderator</div>
						</div>
					</li>
					<li>
						<div class="vertical_fix">
							<h4>Thrin</h4>
							<div><a href="#profile">PROFILE</a> | <a href="#pm">PM</a></div>
							<div>Head of Quality Assurance</div>
						</div>
					</li>
				</ul>

				<h3>SWGEmu Developers</h3>

				<!--
				<h3>Client Developers</h3>

				<h3>SWGemu Moderators</h3>

				<h3>SWGemu Community Service</h3>

				<h3>SWGemu Event Coordinators</h3>

				<h3>Profession Representatives</h3>

				<h3>Quality Assurance</h3>

				<h3>Inactive Staff / Staff on Leave</h3>
				-->
			</div>
			
			<div class="route">
				<a href="#">Staff</a> &rarr; <span class="active">Team list</span>
			</div>
		</div>
	</div>	
	<br class="clear" />
</div>

<div id="footer">
	<div class="outline">
		<div class="left">
			Powered by <a href="http://wmcc.su/">WiseMon’s «CyberCog»</a>
			<br />
			Designed by <a href="http://www.swgemu.com/forums/member.php?u=2976" title="_DM_">Pe Ell</a>
		</div>
		<div class="right">
			All contents copyright © 2005-2008, <a href="http://swgemu.com">SWGEmu</a>.
			<br />
			All rights reserved.
		</div>
	</div>
</div>
<div style="background: url('images/bg_bottom_.gif'); height: 458px; margin-top: -458px; position: relative; z-index: 1;">
<div style="position: absolute; bottom: 0; left: 0; background: transparent url('images/bg_bottom_planet.gif') no-repeat; height: 261px; width: 228px;">&nbsp;</div>
</div>

</body>
</html>