body{
        background: #ccc7c3;
        margin: 0;
        padding: 0;
        font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
        font-size : 12px;
        color: #56544d;
}

img{
        border: 0;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;	
}

a:link,
a:visited,
a:active{
        background: transparent;
        text-decoration: none;
        font-weight: bold;
        color: #635f52;
}

a:hover{
        background: transparent;
        color: #000;
}

#logostrip{
	height: 161px;
	background: #d8d4d1 url(images/bg_logo.gif) repeat-x;
}

.logo{
	text-align: center;
	position: relative;
	bottom: 4px;
}

.shadow_left{
	float: left;
	width: 70px;
	height: 15px;
	background: transparent url(images/shadow_left.gif) no-repeat;
}

.shadow_right{
	float: right;
	width: 70px;
	height: 15px;
	background: transparent url(images/shadow_right.gif) no-repeat;
}

#menu div{
	float: left;
	height: 20px;
}

#content{
	margin-top: 50px;
}

.block{
	background: #e4e1df;
	padding: 5px;
	border: 0;
}
